img {
    width: 400px;
}
a {
  text-decoration: none;
}

a:hover {
  color: green;
}

.flashy {
  color: red;
  font-style: italic;
}

.best {
  font-size: 75px;
  color: purple;
  background-color: green;
}
